* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  display: flex;
  margin-top: 50px;
}

button {
  background-color: #43e843;
}

button:disabled {
  background-color: rgb(194, 194, 194);
  color: #21212148;
}

.field {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  border: 2px solid black;
  margin: 10px;
}

.value {
  color: purple;
  font-weight: 600;
  font-size: 20px;
}
